# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# Static files (collected)
staticfiles/

# OS
Thumbs.db
Desktop.ini
